@{ 
    WebCuaToiASPNet.Models.WebCuaTuASPDotNetEntities db = new WebCuaToiASPNet.Models.WebCuaTuASPDotNetEntities();
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets\img\logo\kt-logo.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/Content/assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets\css\plugin.css">
    <link rel="stylesheet" href="~/Content/assets\css\bundle.css">
    <link rel="stylesheet" href="~/Content/assets\css\style.css">
    <link rel="stylesheet" href="~/Content/assets\css\responsive.css">
    <script src="~/Content/assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Add your site or application content here -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div class="header_area">
                    <!--header top-->
                    <div class="header_top">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="switcher">
                                    <ul>
                                        <li class="languages">
                                            <a href="~/Home/Index"><img src="~/Content/assets\img\logo\fontlogo.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown_languages">
                                                <li><a href="#"><img src="~/Content/assets\img\logo\fontlogo.jpg" alt=""> English</a></li>
                                                <li><a href="#"><img src="~/Content/assets\img\logo\fontlogo2.jpg" alt=""> French </a></li>
                                            </ul>
                                        </li>

                                        <li class="currency">
                                            <a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown_currency">
                                                <li><a href="#"> Dollar (USD)</a></li>
                                                <li><a href="#"> Euro (EUR)  </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="header_links">
                                    <ul>
                                        <li><a href="contact.html" title="Contact">Contact</a></li>
                                        <li><a href="wishlist.html" title="wishlist">My wishlist</a></li>
                                        <li><a href="my-account.html" title="My account">My account</a></li>
                                        <li><a href="cart.html" title="My cart">My cart</a></li>
                                        <li><a href="login.html" title="Login">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header top end-->
                    <!--header middel-->
                    <div class="header_middel">
                        <div class="row align-items-center">
                            <!--logo start-->
                            <div class="col-lg-3 col-md-3">
                                <div class="logo" >
                                    <a href="~/Home/Index"><img style="width: 150px; height: auto;" src="~/Content/assets\img\logo\kt-logo.png" alt=""></a>
                                </div>
                            </div>
                            <!--logo end-->
                            <div class="col-lg-9 col-md-9">
                                <div class="header_right_info">

                                    @RenderSection("timkiemSP", false)


                                 <!--mini cart-->
                                    @Html.Partial("~/Views/GioHang/GioHangPartialView.cshtml")
                                 <!--mini cart end-->
                              

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header middel end-->
                    <div class="header_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="main_menu_inner">
                                    <div class="main_menu d-none d-lg-block">
                                        <nav>
                                            <ul>
                                                <li class="@Html.Raw(ViewBag.active == 1 ? "active" : "")">
                                                    <a href="~/Home/Index">Home</a>
                                                </li>
                                                <li class="@Html.Raw(ViewBag.active == 2 ? "active" : "")">
                                                    <a href="~/Home/TrangSanPham">shop list</a>
                                                    
                                                </li>
                                                <li class="@Html.Raw(ViewBag.active == 3 ? "active" : "")">
                                                    <a href="#">category </a>
                                                    <div class="mega_menu">
                                                        <div class="mega_top fix">
                                                            @{
                                                                foreach (var item in db.LoaiCuaTheLoaiSPs.ToList()) {
                                                                    var loaisp = db.TheLoaiSPs.Where(l => l.idLoaiCuaTheLoaiSP == item.ID).ToList();
                                                                    if (loaisp != null)
                                                                    {
                                                                        <div class="mega_items">
                                                                            <h3><a href="#">@item.TenLoaiCuaTheLoaiSP</a></h3>
                                                                            <ul>
                                                                                @foreach (var sp in loaisp)
                                                                                {
                                                                                    <li><a href="~/Home/TrangPhanLoaiSPTheoLoai?idPL=@sp.ID">@sp.TenLoaiSP</a></li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                     }

                                                                    }
                                                                }                                                           
                                                        </div>
                                                        <div class="mega_bottom fix">
                                                            <div>
                                                                <a href="#"><img src="~/Content/assets\img\banner\avatar.png" alt=""></a>
                                                            </div>
                                                            @*<div>
                                                                <a href="#"><img src="~/Content/assets\img\banner\rong-vang-3-500x500.jpg" alt=""></a>
                                                            </div>*@
                                                        </div>
                                                    </div>
                                                </li>                                           
                                                <li class="@Html.Raw(ViewBag.active == 4 ? "active" : "")"><a href="contact.html">contact us</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="mobile-menu d-lg-none">
                                        <nav>
                                            <ul>
                                                <li class="@Html.Raw(ViewBag.active == 1 ? "active" : "")">
                                                    <a href="~/Home/Index">Home</a>
                                                </li>
                                                <li class="@Html.Raw(ViewBag.active == 2 ? "active" : "")">
                                                    <a href="~/Home/TrangSanPham">shop list</a>
                                                    
                                                </li>
                                                <li class="@Html.Raw(ViewBag.active == 3 ? "active" : "")">
                                                    <a href="#">category </a>
                                                    <div>
                                                        <div>
                                                            @{ foreach (var item in db.LoaiCuaTheLoaiSPs.ToList())
                                                                            {
                                                                                var loaisp = db.TheLoaiSPs.Where(l => l.idLoaiCuaTheLoaiSP == item.ID).ToList();
                                                                                if (loaisp != null)
                                                                                {
                                                                                    <div>
                                                                                        <h3><a href="#">@item.TenLoaiCuaTheLoaiSP</a></h3>
                                                                                        <ul>
                                                                                            @foreach (var sp in loaisp)
                                                                                            {
                                                                        <li><a href="~/Home/TrangPhanLoaiSPTheoLoai?idPL=@sp.ID">@sp.TenLoaiSP</a></li>}
                                                                                        </ul>
                                                                                    </div> }

                                                                                                }
                                                            }
                                                        </div>
                                                        <div>
                                                            <div>
                                                                <a href="#"><img src="~/Content/assets\img\banner\avatar.png" alt=""></a>
                                                            </div>
                                                            @*<div>
                                                                <a href="#"><img src="~/Content/assets\img\banner\14.3_Banner-camp.jpg" alt=""></a>
                                                            </div>*@
                                                        </div>
                                                    </div>
                                                </li>
                                                
                                                <li class="@Html.Raw(ViewBag.active == 4 ? "active" : "")"><a href="contact.html">contact us</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--header end -->
                <!--pos home section-->
                    @RenderBody()
                
                <!--pos home section end-->
            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
    <!--footer area start-->
    <div class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>About us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="footer_widget_contect">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>  19 Interpro Road Madison, AL 35758, USA</p>

                                <p><i class="fa fa-mobile" aria-hidden="true"></i> (012) 234 432 3568</p>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact@plazathemes.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>My Account</h3>
                            <ul>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">My orders</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">My addresses</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>Informations</h3>
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Our store(s)!</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>extras</h3>
                            <ul>
                                <li><a href="#"> Brands</a></li>
                                <li><a href="#"> Gift Vouchers </a></li>
                                <li><a href="#"> Affiliates </a></li>
                                <li><a href="#"> Specials </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <ul>
                                <li><a href="#"> about us </a></li>
                                <li><a href="#">  Customer Service  </a></li>
                                <li><a href="#">  Privacy Policy  </a></li>
                            </ul>
                            <p>Copyright &copy; 2018 <a href="#">Pos Coron</a>. All rights reserved. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_social text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->
    <!-- modal area start -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Content/assets\img\product\product13.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Content/assets\img\product\product14.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Content/assets\img\product\product15.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/Content/assets\img\cart\cart17.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/Content/assets\img\cart\cart18.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/Content/assets\img\cart\cart19.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_content mb-10">
                                        <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                                    </div>
                                    <div class="modal_size mb-15">
                                        <h2>size</h2>
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal area end -->
    <!-- all js here -->
    <script src="~/Content/assets\js\vendor\jquery-1.12.0.min.js"></script>
    <script src="~/Content/assets\js\popper.js"></script>
    <script src="~/Content/assets\js\bootstrap.min.js"></script>
    <script src="~/Content/assets\js\ajax-mail.js"></script>
    <script src="~/Content/assets\js\plugins.js"></script>
    <script src="~/Content/assets\js\main.js"></script>
</body>
</html>
